.jumbotron {
	text-align: center;
	background-color: #426F88;
	color: #ffffff;
}

body {
	background-color: #0C2B3D;
	color: #ffffff;
}

.search {
	text-align: center;
}

#userInput {
	height: 36px;
}

.userNetwork {
	text-align: center;
	color: #ffffff;
	padding: 50px;
}

